<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
</head>
<body>
<ul><li><a href="/">Home</a></li></ul>
<div class="tableDiv">
    <h1>Lista Comenzi</h1>
    <table id="ordersTable">
        <tr>
            <th>Client</th>
            <th>Comanda</th>
            <th>Magazine</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </table>
</div>
<script src="{{ url_for('static',filename='js/orders.js') }}"></script>
</body>
</html>